<div class="jumbotron">
    <h1>ENDPOINTS</h1>
    <small>For more details consult API section.</small>
    <hr />
    <div class="row">
        <div class="col-lg-6">
            <small>
                <b>
                    EXERCISE 1
                </b>
            </small>
            <hr />
            <a href="http://200.105.248.118/todolegaltestings/api/EquivalenceChangeDollars" target="_blank"> http://200.105.248.118/todolegaltestings/api/EquivalenceChangeDollars </a>
            <br />
            <span>(Results stored in database. All request)</span>
            <hr />
            <a href="#" target="_blank"> http://200.105.248.118/todolegaltestings/api/EquivalenceChangeDollars?code={CODIGOPARAMETRIZADO}&valor={VALORUSD} </a>
            <br />
            <hr />
            <small>
                Codes: EURO , PESOCHILENO , SOL
            </small>

            <hr />

        </div>
        <div class="col-lg-6">
            <small>
                <b>
                    EXERCISE 2
                </b>
            </small>
            <hr />
            <a href="http://200.105.248.118/todolegaltestings/api/Weathers" target="_blank"> http://200.105.248.118/todolegaltestings/api/Weathers </a>
            <br />
            <span>(Results stored in database. All request)</span>
            <hr />
            <a href="http://200.105.248.118/todolegaltestings/api/Weathers?onlyConsult=True" target="_blank"> http://200.105.248.118/todolegaltestings/api/Weathers?onlyConsult=True </a>
            <hr />
        </div>
    </div>



</div>
